<html>

<head>

<title>Key Panel</title>

<style>

body{
background:#0f172a;
color:white;
font-family:Arial;
padding:40px;
}

h1{
color:#22c55e;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
padding:10px;
border-bottom:1px solid #334155;
text-align:center;
}

button{

border:none;
padding:6px 12px;
cursor:pointer;
border-radius:5px;

}

.create{
background:#22c55e;
}

.delete{
background:#ef4444;
}

.auth{
background:#f59e0b;
}

</style>

</head>

<body>

<h1>Key Server Panel</h1>

<form action="/create" method="post">

<input name="days" placeholder="Days">

<button class="create">Create Key</button>

</form>

<table>

<tr>

<th>KEY</th>
<th>TIME</th>
<th>DEVICE</th>
<th>ACTION</th>

</tr>

{% for k in keys %}

<tr>

<td>{{k.key}}</td>

<td>{{k.days}}d {{k.hours}}h</td>

<td>{{k.device}}</td>

<td>

<a href="/authorize/{{k.key}}">
<button class="auth">Ủy quyền</button>
</a>

<a href="/delete/{{k.key}}">
<button class="delete">Xóa</button>
</a>

<form action="/upload/{{k.key}}" method="post" enctype="multipart/form-data">

<input type="file" name="file">

<button>Upload</button>

</form>

</td>

</tr>

{% endfor %}

</table>

</body>

</html>
